<html lang="esp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Datos</title>
<style>
    #loading {
        display: none;
    }

</style>
<script src="node_modules/axios/dist/axios.min.js"></script>

</head>
<body>

<button id="carga_ajax">Carga contenido</button>
<button id="json_get">Enviar una imagen</button>
<button id="json_post">Mostrar imagen</button>
<div id="mensaje"></div>
<div id="loading">cargando...</div>

<button id="carga_ajax">Carga contenido</button>
<button id="json_get">Enviar una palabra</button>
<button id="json_post">Mostrar la palabra</button>
<div id="mensaje"></div>
<div id="loading">cargando...</div>

<button id="carga_ajax">Carga contenido</button>
<button id="json_get">Enviar Informacion</button>
<button id="json_post">Mostrar Informacion</button>
<div id="mensaje"></div>
<div id="loading">cargando...</div>
<script>